In [30]:
import pandas as pd
import glob
import cv2
import json

# Background Dataset
I have collected a set of images that don't contain any waste, so their category will be `background (0)`.

In [39]:
first_set = glob.glob('../background-dataset/data/images/*')
second_set = glob.glob('../background-dataset/garbage-object-detection/images/*')
images_set = first_set + second_set

There are 321 background images in total.

## Dataset Creation

Let's create a dataframe with the same columns as the aggregated form of the annotations and images from COCO format.

In [40]:
image_data = []
annotations_data = []

for idx, image in enumerate(images_set):
    filename = image.split('/')[-1]

    img = cv2.imread(image)
    height, width, _ = img.shape
    if filename == '0cb80f833f1f49158c2b8854b0ba9f50.jpg':
        print(image)
    image_data.append((idx, width, height, filename))
    annotations_data.append((idx, idx, 0, [], 0., [0, 0, 0, 0], 0, ))
    #info = (idx, idx, 0, [], 0., [], 0, filename, width, height)
    #data.append(info)

../background-dataset/data/images/0cb80f833f1f49158c2b8854b0ba9f50.jpg

In [41]:
annotations_df = pd.DataFrame(annotations_data, columns=['id', 'image_id', 'category_id', 'segmentation', 'area', 'bbox', 'iscrowd'])
images_df = pd.DataFrame(image_data, columns=['id', 'width', 'height', 'file_name'])

In [42]:
annotations_df

      id  image_id  category_id segmentation  area          bbox  iscrowd
0      0         0            0           []   0.0  [0, 0, 0, 0]        0
1      1         1            0           []   0.0  [0, 0, 0, 0]        0
2      2         2            0           []   0.0  [0, 0, 0, 0]        0
3      3         3            0           []   0.0  [0, 0, 0, 0]        0
4      4         4            0           []   0.0  [0, 0, 0, 0]        0
..   ...       ...          ...          ...   ...           ...      ...
316  316       316            0           []   0.0  [0, 0, 0, 0]        0
317  317       317            0           []   0.0  [0, 0, 0, 0]        0
318  318       318            0           []   0.0  [0, 0, 0, 0]        0
319  319       319            0           []   0.0  [0, 0, 0, 0]        0
320  320       320            0           []   0.0  [0, 0, 0, 0]        0

[321 rows x 7 columns]

In [43]:
images_df

      id  width  height                                          file_name
0      0   2048    1536               0cb80f833f1f49158c2b8854b0ba9f50.jpg
1      1   2048    1536                                     veegvuil32.jpg
2      2    500     281                                       00000038.jpg
3      3   3264    2448               71fdd0874142491bb86062b295086178.jpg
4      4   3264    2448               755e2c6967db4db782d522c525707909.jpg
..   ...    ...     ...                                                ...
316  316   1944    1458  mdc_photo_mdc_7c34f2_1511653787059_15116537953...
317  317   1944    1458  mdc_photo_mdc_523960_1511628472142_15116284857...
318  318   4032    3024  mdc_photo_mdc_5a256a_IMG_20170824_021706_15035...
319  319   2448    2791          mdc_photo_cdv_photo_025_1511730688754.jpg
320  320   1936    2592          mdc_photo_cdv_photo_096_1474742097585.jpg

[321 rows x 4 columns]

In [44]:
annotations_dict = {}
annotations_dict['annotations'] = annotations_df.to_dict(orient='records')
annotations_dict['images'] = images_df.to_dict(orient='records')

with open('background_annotations.json', 'w') as new_file:
    json.dump(annotations_dict, new_file)

In [20]:
background_df.to_csv('../background-dataset/background_df.csv', index=False)